{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["react-app", "react-app/jest", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "simple-import-sort"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [["^react", "^@?\\w"], ["^[./]"]]
      }
    ]
  }
}
