body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Robo;
}

code {
  font-family: 'Roboto', sans-serif;
}

*:focus {
  outline: none;
}
